html,
body {
  -webkit-app-region: drag;
	background: linear-gradient(rgb(50, 132, 190), rgb(0, 82, 190));
	border-radius: 3px;
}

h1 {
  font: bold 16px Arial, sans-serif;
  text-align: center;
}

.flex-container, .action-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-app-region: no-drag;
  width: 100%;
}

.key {
  font: bold 16px Arial, sans-serif;
  -webkit-flex: 1 auto;
  display: -webkit-flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
	position: relative;
	top: 0;
	cursor: pointer;
	width: 66px;
	height: 36px;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	margin: 0 7px 11px 0;
	color: #888;
	user-select: none;
	transition: all 0.2s ease;
}

.key:last-child {
    margin-right: 0;
}

.number {
  background: white;
}

.action {
  background: #ddecf9;
}

.screen {
  font: bold 16px Arial, sans-serif;
  -webkit-flex: 1 auto;
  display: -webkit-flex;
  border-radius: 5px;
  justify-content: left;
  padding-left: 10px;
  align-items: center;
  position: relative;
  top: 0;
  min-width: 250px;
  height: 36px;
  border-radius: 3px;
  box-shadow: inset -4px -4px rgba(71, 132, 242, 0.6);
  margin: 0 0 11px 0;
  color: black;
  transition: all 0.2s ease;
  background: rgb(121, 182, 242)
}
